figure img,
figure svg {
  cursor: zoom-in;
}

figure img ~ figcaption {
  will-change: transform, opacity;
}

figure .only.zoomed {
  display: none;
}

figure.zoomed {
  position: absolute;
  will-change: transform, opacity;
  top: 0.5em;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  width: inherit;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "img"
    "cap";
}

figure.zoomed.horizontal {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "img cap";
}

figure.zoomed img {
  grid-area: img;
}

figure.zoomed svg,
figure.zoomed img {
  position: absolute;
  left: 0;
  right: 0;
  max-width: none;
  border-radius: 0.25rem;
  display: block;
  margin: 0 auto;
  cursor: zoom-out;
}

figure.zoomed img.hires {
  z-index: 2;
}

figure.zoomed figcaption {
  grid-area: cap;
  display: block;
  opacity: unset;
  padding: inherit;
  margin: 0 auto;
  color: white;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

figure.zoomed.horizontal figcaption {
  width: 20em;
  margin-left: 1em;
}

figure.zoomed figcaption .only.unzoomed {
  display: none;
}

figure.zoomed figcaption .only.zoomed {
  display: block;
}

figure.zoomed.horizontal figcaption p:first-child {
  margin-top: 0;
}

figure.zoomed:not(.horizontal) figcaption {
  padding-top: 1em;
}

@media (min-width: 48rem) {
  figure.zoomed:not(.horizontal) figcaption {
    padding: 1em;
  }

  figure.zoomed:not(.horizontal) figcaption.over {
    padding-bottom: 1rem;
  }
}

figure.zoomed:not(.horizontal) figcaption p:first-child {
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 3;
}

.overlay .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.45s;
  will-change: opacity;
  opacity: 0;
}

.overlay a {
  color: white;
}
